@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;400;600;700&family=Mukta:wght@200;300;400;500;600;700&family=Puritan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Raleway&display=swap');

body {
  font-family: 'Mukta', sans-serif;
}

/* Box Title */
.box-title {
    background-color: #F2EFEF;
    color: black;
    padding: 10px;
}

.box-title p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

  
  /* Box */
  #box {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #box h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .article {
    width: 100%;
    border-collapse: collapse;
  }
  
  .article td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .article td:first-child {
    font-weight: bold;
    color: #888888;
    width: 150px;
  }
  
  .tombol-biru {
    display: inline-block;
    background-color: #A1B6C6;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .tombol-biru:hover {
    background-color: #EBE8E8;
  }
  